<ion-header>
  <ion-toolbar color="testapp-tres">
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Crear Análisis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-finca-formulario
  [formulario]="formulario"
  [currentDate]="currentDate"
  [mensajesFormulario]="mensajesFormulario"
  (submitEvent)="submit()"
></app-finca-formulario>
</ion-content>
