<ion-row>
  <ion-col> </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <ion-title>Costos administrativos</ion-title>
  </ion-col>
</ion-row>

<ion-card>
  <ion-item
    class="item-general"
    [routerLink]="[
      '/dashboard/tabs/costos/detalle-costo-actividad',
      { id: item.id, name: item.description, type: 'administrativo' }
    ]"
    *ngFor="let item of listaActividades"
  >
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    <ion-label>{{ item.description }}</ion-label>
    <ion-badge color="testapp-tres">{{ item.amount }}</ion-badge>
    <small>Ver detalle</small>
  </ion-item>

  <ion-card-content *ngIf="listaActividades.length < 1">
    No tienes registros
  </ion-card-content>
</ion-card>

<ion-row>
  <ion-col>
    <ion-button
      color="testapp-tres"
      expand="block"
      [routerLink]="['/dashboard/tabs/costos/crear-administrativo']"
      >Agregar costo administrativos</ion-button
    >
  </ion-col>
</ion-row>
