<ion-header>
  <ion-toolbar color="testapp-tres">
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment
    color="testapp-uno"
    (ionChange)="segmentChanged($event)"
    [value]="segmentSeletcted"
  >
    <ion-segment-button value="detalle" sele>
      <ion-label>Detalle</ion-label>
    </ion-segment-button>
    <ion-segment-button value="lotes">
      <ion-label>Lotes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-slides
    pager="false"
    #tutorialSlides
    [options]="slideOpts"
    (ionSlideDidChange)="slideDidChange(tutorialSlides)"
    (ionSlidesDidLoad)="slidesDidLoad(tutorialSlides)"
  >
    <ion-slide>
      <form [formGroup]="formulario" class="ion-no-padding">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Ficha catastral</ion-label>
                <ion-input
                  formControlName="cadastral_record"
                  placeholder="Ej. 12345"
                  type="text"
                >
                </ion-input>
              </ion-item>
              <app-mensajes-error
                [control]="formulario.controls.cadastral_record"
                [mensajes]="mensajesFormulario.cadastral_record"
              ></app-mensajes-error>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Departamento *</ion-label>
                <ion-select
                  (ionChange)="changeDpto($event.detail.value)"
                  [selectedText]="detalleFinca?.department"
                  formControlName="department_id"
                  interface="action-sheet"
                  okText="Aceptar"
                  cancelText="Cancelar"
                  placeholder="Seleccionar ..."
                >
                  <ion-select-option
                    *ngFor="let item of parametricas.departments"
                    value="{{ item.id }}"
                    >{{ item.name }}</ion-select-option
                  >
                </ion-select>
              </ion-item>
              <app-mensajes-error
                [control]="formulario.controls.department_id"
                [mensajes]="mensajesFormulario.department_id"
              ></app-mensajes-error>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Municipio *</ion-label>
                <ion-select
                  (ionChange)="changeMpio($event.detail.value)"
                  formControlName="municipality_id"
                  [selectedText]="detalleFinca?.municipality"
                  interface="action-sheet"
                  okText="Aceptar"
                  cancelText="Cancelar"
                  placeholder="Seleccionar ..."
                >
                  <ion-select-option
                    *ngFor="let item of parametricas.municipalities"
                    value="{{ item.id }}"
                    >{{ item.name }}</ion-select-option
                  >
                </ion-select>
              </ion-item>
              <app-mensajes-error
                [control]="formulario.controls.municipality_id"
                [mensajes]="mensajesFormulario.municipality_id"
              ></app-mensajes-error>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Vereda *</ion-label>
                <ion-select
                  [selectedText]="detalleFinca?.village"
                  formControlName="village_id"
                  interface="action-sheet"
                  okText="Aceptar"
                  cancelText="Cancelar"
                  placeholder="Seleccionar ..."
                >
                  <ion-select-option
                    *ngFor="let item of parametricas.villages"
                    value="{{ item.id }}"
                    >{{ item.name }}</ion-select-option
                  >
                </ion-select>
              </ion-item>
              <app-mensajes-error
                [control]="formulario.controls.village_id"
                [mensajes]="mensajesFormulario.village_id"
              ></app-mensajes-error>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Nombre finca *</ion-label>
                <ion-input
                  formControlName="name"
                  placeholder="Ej. Las mecedez"
                  type="text"
                >
                </ion-input>
              </ion-item>
              <app-mensajes-error
                [control]="formulario.controls.name"
                [mensajes]="mensajesFormulario.name"
              ></app-mensajes-error>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Ubicación</ion-label>
                <ion-input
                  disabled
                  formControlName="ubication"
                  placeholder="Ej. Las mecedez"
                  type="text"
                >
                </ion-input>
              </ion-item>
              <app-mensajes-error
                [control]="formulario.controls.ubication"
                [mensajes]="mensajesFormulario.ubication"
              ></app-mensajes-error>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button size="small" (click)="getGps()" color="testapp-tres">
                Capturar ubicación GPS
                <ion-icon slot="end" name="locate-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked"
                  >Area total en hectáreas *</ion-label
                >
                <ion-input
                  formControlName="total_area"
                  placeholder="Ej. 100"
                  type="number"
                >
                </ion-input>
              </ion-item>
              <app-mensajes-error
                [control]="formulario.controls.total_area"
                [mensajes]="mensajesFormulario.total_area"
              ></app-mensajes-error>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Tenencia *</ion-label>
                <ion-select
                  (ionChange)="changeTenencia($event.detail.value)"
                  [selectedText]="detalleFinca?.holding"
                  formControlName="holding_id"
                  interface="action-sheet"
                  okText="Aceptar"
                  cancelText="Cancelar"
                  placeholder="Seleccionar ..."
                >
                  <ion-select-option
                    *ngFor="let item of parametricas.holdings"
                    value="{{ item.id }}"
                    >{{ item.description }}</ion-select-option
                  >
                </ion-select>
              </ion-item>
              <app-mensajes-error
                [control]="formulario.controls.holding_id"
                [mensajes]="mensajesFormulario.holding_id"
              ></app-mensajes-error>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col></ion-col> </ion-row
          ><ion-row>
            <ion-col></ion-col> </ion-row
          ><ion-row>
            <ion-col></ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button color="danger" expand="block" (click)="eliminar()">
                <ion-icon name="trash-outline"></ion-icon>
                Eliminar</ion-button
              >
            </ion-col>
            <ion-col>
              <ion-button
                color="testapp-tres"
                expand="block"
                (click)="submit()"
              >
                <ion-icon name="save-outline"></ion-icon>
                Actualizar</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-item
          class="item-general"
          *ngFor="let item of detalleFinca?.lotes"
          (click)="openDetailLot(item)"
        >
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          <ion-label>{{ item.name }}</ion-label>
          <small>Ver detalle</small>
        </ion-item>

        <ion-card-content *ngIf="detalleFinca?.lotes.length < 1">
          No tienes lotes registrados
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="segmentSeletcted === 'lotes'"
    (click)="presentModal()"
  >
    <ion-fab-button color="testapp-uno">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
