<form [formGroup]="formulario">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Fecha de análisis *</ion-label>
          <ion-datetime
            [max]="currentDate"
            cancelText="Cancelar"
            doneText="Aceptar"
            disabled
            formControlName="analysis_date"
            displayFormat="DD/MM/YYYY"
          >
          </ion-datetime>
        </ion-item>
        <app-mensajes-error
          [control]="formulario?.controls?.analysis_date"
          [mensajes]="mensajesFormulario?.analysis_date"
        ></app-mensajes-error>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">Ph</ion-label>
          <ion-input formControlName="ph" placeholder="" type="number">
          </ion-input>
        </ion-item>
        <app-mensajes-error
          [control]="formulario?.controls?.ph"
          [mensajes]="mensajesFormulario?.ph"
        ></app-mensajes-error>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">Materia orgánica (%)</ion-label>
          <ion-input
            formControlName="organic_matter"
            placeholder=""
            type="number"
          >
          </ion-input>
        </ion-item>
        <app-mensajes-error
          [control]="formulario?.controls?.organic_matter"
          [mensajes]="mensajesFormulario?.organic_matter"
        ></app-mensajes-error>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">Fósforo (mg/kg)</ion-label>
          <ion-input
            formControlName="phosphates"
            placeholder=""
            type="number"
          >
          </ion-input>
        </ion-item>
        <app-mensajes-error
          [control]="formulario?.controls?.phosphates"
          [mensajes]="mensajesFormulario?.phosphates"
        ></app-mensajes-error>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">Calcio (cmol/kg)</ion-label>
          <ion-input formControlName="calcium" placeholder="" type="number">
          </ion-input>
        </ion-item>
        <app-mensajes-error
          [control]="formulario?.controls?.calcium"
          [mensajes]="mensajesFormulario?.calcium"
        ></app-mensajes-error>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">Magnesio (cmol/kg)</ion-label>
          <ion-input formControlName="magnesium" placeholder="" type="number">
          </ion-input>
        </ion-item>
        <app-mensajes-error
          [control]="formulario?.controls?.magnesium"
          [mensajes]="mensajesFormulario?.magnesium"
        ></app-mensajes-error>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">Potasio (cmol/kg)</ion-label>
          <ion-input formControlName="potassium" placeholder="" type="number">
          </ion-input>
        </ion-item>
        <app-mensajes-error
          [control]="formulario?.controls?.potassium"
          [mensajes]="mensajesFormulario?.potassium"
        ></app-mensajes-error>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">Aluminio (cmol/kg)</ion-label>
          <ion-input formControlName="aluminum" placeholder="" type="number">
          </ion-input>
        </ion-item>
        <app-mensajes-error
          [control]="formulario?.controls?.aluminum"
          [mensajes]="mensajesFormulario?.aluminum"
        ></app-mensajes-error>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">Azufre (mg/kg)</ion-label>
          <ion-input formControlName="sulphur" placeholder="" type="number">
          </ion-input>
        </ion-item>
        <app-mensajes-error
          [control]="formulario?.controls?.sulphur"
          [mensajes]="mensajesFormulario?.sulphur"
        ></app-mensajes-error>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Textura </ion-label>
          <ion-textarea
            formControlName="texture"
            placeholder="..."
          ></ion-textarea>
        </ion-item>
        <app-mensajes-error
          [control]="formulario?.controls?.texture"
          [mensajes]="mensajesFormulario?.texture"
        ></app-mensajes-error>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="danger" expand="block" (click)="eliminar()">
          <ion-icon name="trash-outline"></ion-icon>
          Eliminar</ion-button
        >
      </ion-col>
      <ion-col>
        <ion-button color="testapp-tres" expand="block" (click)="submit()">
          <ion-icon name="save-outline"></ion-icon>
          Guardar</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
