form{
    width: 100%;
}

ion-card{
    width: 100%;
}

ion-grid{
    ion-row{
        ion-col{
           
            font-size: 12px;
            p{            
              font-size: 1px;
            }
        }
    }
}

ion-text{
    font-size: 12px;
}