<ion-header>
  <ion-toolbar color="testapp-tres">
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    (ionChange)="onSearchChange($event)"
    [debounce]="250"
    inputmode="text"
    animated
    placeholder="Buscar ..."
  ></ion-searchbar>
  <ion-card>
    <ion-item
      class="item-general"
      [routerLink]="[
        '/dashboard/tabs/inventario/detalle-producto/',
        { id: item.id, name: item.name }
      ]"
      *ngFor="let item of listaTipos | search: textoBuscar:'name'"
    >
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      <ion-label>{{ item.name }}</ion-label>
      <ion-badge color="testapp-tres"
        >{{ item.total_amount }} {{ item.unit_measurement }}</ion-badge
      >
      <small>Ver detalle</small>
    </ion-item>

    <ion-card-content *ngIf="listaTipos?.length < 1">
      No tienes registros
    </ion-card-content>
  </ion-card>
</ion-content>
